body {
    background-color: #4a98d3;
}

.tabs {
    width: 100%;
    display: inline-block;
}

.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links {
    margin: 0;
}

.tab-links li {
    margin: 0px 5px;
    float: left;
    list-style: none;
}

.tab-links a {
    padding: 9px 15px;
    display: inline-block;
    border-radius: 3px 3px 0px 0px;
    background: #7FB5DA;
    font-size: 16px;
    font-weight: 600;
    color: #4c4c4c;
    transition: all linear 0.15s;
}

tab-links a:hover {
    background:#a7cce5;
    text-decoration: none;
}

li.active a, li.active a:hover {
    background: #fff;
    color:#4c4c4c;
}

.tab-content {
    padding:15px;
    border-radius: 3px;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15);
    background: #fff;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}

table {
    width: 100%;
}

.circle {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    opacity: 0.4;
    line-height: 150px;
    text-align: center;
    font-size: large;
}

.circle:hover {
    opacity: 0.7;
    cursor: pointer;
    text-decoration: none;
}

.node-holder {
    
}

.node-holder .popover {
    margin-left: -64px;
    width: 380px;
    max-width: none;
}

.popover-content {
    width: 370px;
}

.node-good {
    background: #00ff00;
}

.node-warn {
    background: #ffff00;
}

.node-error {
    background: #ff0000;
}

.sink-node {
    border-style: dashed;
}

.checkmark:hover {
    cursor: default;
}

.parent-highlight {
    background: blue;
}

.content-label {
    width: 40%;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    padding: 0px 20px 0px 0px;
}

.content-data {
    display: inline-block;
}

.content-holder {
    width: 100%;
}

.odd-row {
    background: #f2f2f2;
}

.bottom-center {
    text-align: center;
}

.links {
    display: inline-block;
    padding: 0px 10px;
}

.links:hover {
    cursor: pointer;
}

.node-info-holder {
    padding-bottom: 20px;
}

.modal-body {
    overflow-y: scroll;
}

.pure-table .pure-table-odd td {
    background-color: initial;
}

.pure-table-odd {
    background-color: #f2f2f2;
}

.pure-table tr:hover, .pure-table-odd:hover {
    background-color: lightblue;
    cursor: pointer;
}

table .selected-row {
    border-style: groove;
    background-color: darkturquoise;
}

.right-modal-div {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    position: fixed;
    padding-left: 20px;
    border-left: 1px solid lightgrey;
}

.warning-row {
    background-color: lightyellow;
}

.error-row {
    background-color: lightcoral;
}